@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
    @apply antialiased;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  /* gray-300 */
  border-radius: 9999px;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #374151;
  /* gray-700 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563;
}